
**/settings/Mainnet.toml
**/settings/Testnet.toml
contracts/**
.cache/**
history.txt
Clarinet.toml
open_prs.py
deployments/**
tests/**

logs
*.log
npm-debug.log*
coverage
*.info
costs-reports.json
node_modules
check_deployments.sh
check_deployed.py